<?xml version="1.0"?>
<model xmlns:xacro="http://www.ros.org/wiki/xacro" name="depth_camera">
  <link name="depth_cam_link">
    <pose>0 0 0 0 0 0</pose>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.1 0.1 0.1" />
      </geometry>
      <material name="Cyan">
        <color rgba="0 1.0 1.0 1.0" />
      </material>
    </visual>
  </link>

  <!-- workaround for rotated kinect output -->
  <!-- https://answers.gazebosim.org/question/4266/gazebo-15-libgazebo_openni_kinectso-pointcloud-data-is-rotated-and-flipped/?answer=26388#post-id-26388 -->
  <link name="kinect_optical_link" />
  <joint name="depth_cam_to_kinect_optical_link" type="fixed">
    <parent link="depth_cam_link"/>
    <child link="kinect_optical_link"/>
    <origin rpy="-1.5708 0 -1.5708"/>
  </joint>

  <gazebo reference="depth_cam_link">
    <static>1</static>
    <sensor name="camera" type="depth">
      <updateRate>30.0</updateRate>
      <camera>
        <horizontal_fov>1.047</horizontal_fov>
        <image>
          <width>300</width>
          <height>300</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.25</near>
          <far>100</far>
        </clip>
      </camera>
      <!-- http://gazebosim.org/tutorials/?tut=ros_depth_camera -->
      <plugin name="camera_plugin" filename="libgazebo_ros_openni_kinect.so">
        <baseline>0.2</baseline>
        <alwaysOn>true</alwaysOn>
        <!-- Keep this zero, update_rate in the parent <sensor> tag
            will control the frame rate. -->
        <updateRate>0.0</updateRate>
        <cameraName>camera_ir</cameraName>
        <imageTopicName>/camera/color/image_raw</imageTopicName>
        <cameraInfoTopicName>/camera/color/camera_info</cameraInfoTopicName>
        <depthImageTopicName>/camera/depth/image_raw</depthImageTopicName>
        <depthImageCameraInfoTopicName>/camera/depth/camera_info</depthImageCameraInfoTopicName>
        <pointCloudTopicName>/camera/depth/points</pointCloudTopicName>
        <frameName>/kinect_optical_link</frameName>
        <pointCloudCutoff>0.1</pointCloudCutoff>
        <pointCloudCutoffMax>3.0</pointCloudCutoffMax>
        <distortionK1>0</distortionK1>
        <distortionK2>0</distortionK2>
        <distortionK3>0</distortionK3>
        <distortionT1>0</distortionT1>
        <distortionT2>0</distortionT2>
        <CxPrime>0</CxPrime>
        <Cx>0</Cx>
        <Cy>0</Cy>
        <focalLength>0</focalLength>
        <hackBaseline>0</hackBaseline>
      </plugin>
    </sensor>
  </gazebo>
</model>